
body,
html{
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: black;
}


.bg1,
.bg2,
.bg3{
	 position: relative;
	 
	 background-position: center;
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
}

.bg1{
	background-image: url('../img/bg1.jpg');
	min-height: 100%;
}

.bg2{
	background-image: url('../img/bg2.png');
	min-height: 400px;
}

.bg3{
	background-image: url('../img/bg3.png');
	min-height: 400px;
}

.sec{
	text-align: center;
	padding: 50px 80px;
	font-size: 16px;
	letter-spacing: 1px;
	
	
}

.color1{
	background-color: #f4f4f4;
	
}

.bgtext{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 4px;
	
	
	
}

.bgtext .border{
	text-transform: uppercase;
	background-color: #111;
	color: white;
	padding: 20px;
	
}

.fb{
	position: fixed;
	bottom: 2px;
	right: 66px
}

.dc{
	position: fixed;
	bottom: 2px;
	right: 1px;
}

.hb{
	position: fixed;
	bottom: 2px;
	left: 1px;
}

#habbohotel:hover{
	transition: all 200ms;
	padding: 30px;
}

a{
	text-decoration: none;
}


